# project settings folder for (JetBrains) IDE
.idea

# logs
logs
log
*.log

# runtime data
pids
*.pid
*.seed

node_modules
jspm_packages
front/main/lib

# build artifacts
build
build.js
main.css
index.html

#Sourecemaps
*.map

# deployment / public serving
public

# misc
.sass-cache
