# project settings folder for (JetBrains) IDE
.idea

# logs
logs
log
*.log

# runtime data
pids
*.pid
*.seed

node_modules
jspm_packages
front/main/lib

# build artifacts
build
front/main/lib.js
front/main/app.js
front/main/app-*.js
front/main/app.css
front/main/index.html
front/main/app/config/constants-ng-config.js

#Sourecemaps
*.map

#reports
reports

# deployment / public serving
public

# misc
.sass-cache

# sauselabs local credentials
set-sauce.sh
