<div layout="column">
  <md-content layout-padding>
    <h1>Add a new movie</h1>
    <br/>

    <form name="movieForm"
          ng-submit="movieNew.createMovie( movieNew.data )">

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Title</label>
          <input ng-model="movieNew.data.title">
        </md-input-container>
        <md-input-container flex>
          <label>Director</label>
          <input ng-model="movieNew.data.director">
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column" layout-align="end center">
        <md-button class="md-raised md-primary"
                   type="submit"
                   ng-disabled="movieForm.$invalid">
          Save
        </md-button>
        <md-button class="md-raised md-warn"
                   type="button">
          Cancel
        </md-button>
      </div>

    </form>
  </md-content>
</div>
