<md-toolbar id="main-toolbar">

  <div layout="row"
       flex
       class="md-toolbar-tools">

    <!--TODO "hide-gt-??" (menuIsLockedOpenStartingFrom) must be configurable-->
    <!--along with menu's md-is-locked-open="$media('gt-md')"-->

    <md-button hide-gt-sm
               ng-click="mainToolbar.toggleNav()"
               class="md-icon-button"
               aria-label="Toggle Menu">
      <md-icon md-svg-icon="app/assets/icons/hamburger_24px.svg"></md-icon>
      <div class="md-ripple-container"></div>
    </md-button>

    <div flex>
      <!-- TODO: Display "Story/Feature Group -> Story/Feature" -->
    </div>
    <div ui-view="headerright">
      <md-button ng-click="mainToolbar.goToLogin()">Login</md-button>
    </div>
  </div>
</md-toolbar>
